/*ESTILOS GENERALES*/
* {
    box-sizing: border-box;
}

/*FUENTE*/
body {
    font-family: 'Montserrat', sans-serif;
}

/*Colores*/
.magen{
    background-color: #E60080;
}
.verde{
    background-color: #BCCF00;
}
.azul{
    background-color: #009FE3;
}
.naranja{
    background-color: #F39200;
}
.cafe{
    background-color: #A55E25;
}
.morado{
    background-color: #93278F;
}
.amarillo{
    background-color: #FFE000;
}




/*BARRA NAVEGACION*/
.espacioDebajoN {
    padding-bottom: 87px;
}
.colorFN {
    background: #C9961A;
}
.TextoBotNav{
    font-weight: bolder;
}




/*ENCABEZADO*/
.FondoEncabezadoHome{
    background-image: url("../images/Fondo-home.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:top;
}
.altoH{
    padding: 50px;
}
.altoB{
    padding: 10px;
}
.fondoBlancoLetra{
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-image: url("../images/fondo-blanco-letra.png");
    background-size: 300%;
    background-repeat: no-repeat;
    background-position:center;
}
.espaciosCajaTexto{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.textoTitulo{
    font-weight: bolder;
}
.Flecha{
    width: 30px;
    padding: 5px;
}
.botonApreEnca{
    color:white;
    padding: 10px;
    background-color: #C9961A;
    border: none;
    border-radius: 5px;
}
.botonApreEnca:hover{
    color:white;
    padding: 10px;
    background-color: #b48817;
    border: none;
    border-radius: 5px;
}
.EspacioSol{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}




/*MAPA*/
.fondoMapaA{
    border-top-right-radius: 50% 15%;
    border-top-left-radius: 50% 15%;
    margin: 10px;
    padding: 10px;
    background-color: white;
}
.EspacioMapaA {
    padding-top: 40px;
    padding-bottom: 10px;
}
.FondoMad{
    background-image: url("../images/letreroV1.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.imMapa{
    width: 100%;
}
.EspacioCartelMap{
    padding-top: 40px;
    padding-bottom: 40px;
}
.TextCartelMap{
    color: white;
    padding: 30px;
    text-align: center;
}




/*VIDEO*/
.VideoT{
    width: 100%;
    height: 490px;
}
.FondoVideoTi{
    background-image: url("../images/fondo-video.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 180px;
}
.EspacioSepaVide{
    padding-top: 1%;
}
.EspacioCartelVid{
    padding-top: 230px;
    padding-bottom: 5px;
}
.FondoVidC{
    background-image: url("../images/letreroV2.png");
    background-size: 100%;
    background-repeat: no-repeat;
}



/*CARRUSEL*/
.alineaTarCa{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.tarjeta{
    padding: 10px;
    margin: 5px;
}
.bordeImaJueg{
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50% 40%;
    border-bottom-left-radius: 30% 10%;
    overflow: hidden;
}
.bordeImaJuegEx{
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    overflow: hidden;
    padding: 5px;
}
.espacioLetraCaJue{
    padding: 9px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.EspacioCartelJuegos{
    padding-top: 40px;
    padding-bottom: 40px;
}
.FondoCartelJuegos{
    background-image: url("../images/letreroV1.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.TextCartelJuegos{
    color: white;
    padding: 30px;
    text-align: center;
}
.espacioDebajo{
    margin-bottom: 5%;
}




/*FOOTER*/
.FondoFooter{
    background-image: url("../images/footer.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 10%;
}
.EspacioFooterIn{
    padding: 10px;
}
.EspacioLogoFoot{
    display: flex;
    justify-content: center;
    align-items: center;
}
.TextFooter{
    color: black;
    font-weight:bold;
}
.TextFooter1{
    color: white;
}
.EspacioInfoFoot {
    padding: 15px;
}
.EspacioInfoC{
    padding-left: 55px;
}
.listacontac{
    list-style: url("../images/vineta-sol.png");
}
.alineoIcoRedes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.separaIco {
    margin-left: 15px;
    margin-right: 15px;
}







.linea{
    border: 2px solid black;
}
.alto{
    height: 100px;
}